<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-3">
      <ul class="list-group">
        <li class="list-group-item list-group-item-action link"  (click)="selectedDetail($event,'profile-details')">
          <h4>Dane o profilu</h4>
        </li>
        <li class="list-group-item list-group-item-action link" (click)="selectedDetail($event,'lessons-details')">
          <h4>Twoje korepetycje</h4>
        </li>
        <li class="list-group-item list-group-item-action link" (click)="selectedDetail($event,'posts-details')">
          <h4>Opublikowane posty</h4>
       </li>
       <li class="list-group-item list-group-item-action link" (click)="selectedDetail($event,'files-details')">
        <h4>Opublikowane materiały</h4>
     </li>
      </ul>
    </div>
    <div class="col-lg-6">
      <div id="profile-details" class="tab active" #profileDetails>
          <app-profile-details></app-profile-details>
      </div>
      <div id="lessons-details" class="tab" #lessonsDetails>
          <app-lessons-details></app-lessons-details>
      </div>
      <div id="posts-details" class="tab" #postsDetails>
          <app-posts-details></app-posts-details>
      </div>
      <div id="files-details" class="tab" #filesDetails>
        <app-file-details></app-file-details>
    </div>
    </div>
  </div>
</div>