<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-3">
      <ul class="list-group" >
        <li class="list-group-item link" (click)="selectedDetail($event,'profile-details')">
          <h4>Dane o profilu</h4>
        </li>
        <li class="list-group-item link" (click)="selectedDetail($event,'lessons-details')">
          <h4>Twoje korepetycje</h4>
        </li>
        <li class="list-group-item link" (click)="selectedDetail($event,'posts-details')">
          <h4>Upublikowane posty</h4>
       </li>
      </ul>
    </div>
    <div class="col-lg-8">
      <div id="profile-details" class="tab">
          <app-profile-details></app-profile-details>
      </div>
      <div id="lessons-details" class="tab">
          <app-lessons-details></app-lessons-details>
      </div>
      <div id="posts-details" class="tab">
          <app-posts-details></app-posts-details>
      </div>
    </div>
  </div>
</div>
