<nav class="navbar navbar-expand-md navbar-light sticky-top">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">
    <h1 class="title">Pollubmy</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
   <div class="collapse navbar-collapse" id="navbarContent">
     <ul class="navbar-nav ml-auto">
      <ng-template [ngIf]="!loginService.isLoggedIn()">
          <li class="nav-item active">
              <a href="#" class="nav-link" routerLink="/login">Zaloguj</a>
            </li>
            <li class="nav-item">
             <a href="#" class="nav-link" routerLink="/register">Zarejestruj</a>
           </li>
      </ng-template> 
        <li class="nav-item" >
          <a role="button" class="userLogin" routerLink="/dashboard/details" *ngIf="loginService.isLoggedIn()">Witaj, userLogin!</a>
        </li>   
        <li class="nav-item" >
          <a role="button" class="logoutButton" (click)="loginService.logoutUser()" *ngIf="loginService.isLoggedIn()">Wyloguj się</a>
        </li>  
     </ul>
   </div>
  </div>
</nav>