nav{
    padding: 20px;
}
.navbar{
    background-color: rgb(220,220,220,0.4);
}
.navbar-brand{
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}
.container-fluid{
    font-size: 18px;
}
.icon{
   padding: 10px;
}
