<div class="row justify-content-center">
    <div class="jumbotron bg-dark">
        <p class="text-white">W zakładce <strong>Twoje korepetycje</strong> możesz podglądać opublikowane przez siebie ofert korepetycji</p>
    </div>
</div>
  <div class="list-group">
    <div class="list-group-item">
        <h3>Twoje korepetycje</h3>
        <p class="alert alert-danger" *ngIf="noLessonsErrorStatus === 400">Nie masz żadnych opublikowanych ofert</p>
        <div class="list-group" *ngFor="let announcement of announcements">
            <div class="card-header"
            [ngClass]=" {
              'positive' : announcement.price !== 0 && announcement.time !== 0,
              'negative' : announcement.price === 0 
             }">
              {{announcement.faculty}}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Kierunek: {{announcement.fieldOfStudy}}</li>
              <li class="list-group-item">Przedmiot: {{announcement.course}}</li>
              <li class="list-group-item">Opis: {{announcement.description}}</li>
              <li class="list-group-item" *ngIf="announcement.price !== 0">Cena: {{announcement.price}}</li>
              <li class="list-group-item" *ngIf="announcement.price !== 0">Czas trwania: {{announcement.time}}</li>
            </ul>
          </div>
    </div>
</div>