.container{
    margin-top: 5%;

}
.title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.post{
    cursor: pointer;
}
.pointsection{
    background-color: lightblue;
}
.post-title{
    margin: 15px;
}
.management{
    padding: 30px;
}