<div class="container">
  <div class="row">
    <div class="col-lg-8">
    </div>
    <div class="col-lg-4 mb-4">
      <h4 class="text-center">Aktualności</h4>
      <ul class="list-group">
        <li class="list-group-item d-flex">
          <div class="event">
            <h5 class="event-title">Godziny rektorskie</h5>
            <p class="event-description">W dniu 12.11.2018 ustalone sa godziny rektorskie...</p>
          </div>
        </li>
        <li class="list-group-item d-flex">
          <div class="event">
            <h5 class="event-title">Godziny rektorskie</h5>
            <p class="event-description">W dniu 12.11.2018 ustalone sa godziny rektorskie...</p>
          </div>
        </li>
        <li class="list-group-item d-flex">
          <div class="event">
            <h5 class="event-title">Godziny rektorskie</h5>
            <p class="event-description">W dniu 12.11.2018 ustalone sa godziny rektorskie...</p>
          </div>
        </li>
        <li class="list-group-item d-flex">
          <div class="event">
            <h5 class="event-title">Godziny rektorskie</h5>
            <p class="event-description">W dniu 12.11.2018 ustalone sa godziny rektorskie...</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>