  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7">
          <div class="jumbotron bg-white">
            <h4>Opublikuj post</h4>
            <hr>
            <form #post="ngForm" (ngSubmit)="addPost(post)">
              <label for="category">Wybierz kategorię</label>
              <select name="category" id="category" required ngModel class="form-control" #category="ngModel">
                <option *ngFor="let category of categories" [ngValue]="category">{{category}}</option>
              </select>
              <p class="alert alert-danger" *ngIf="!category.valid && category.touched">Wybierz kategorię</p>
              <hr>
              <label for="title">Tytuł</label>
              <input type="text" name="title" id="title" class="form-control" required ngModel #title="ngModel">
              <p class="alert alert-danger" *ngIf="!title.valid && title.touched">Uzupełnij tytuł posta</p>
              <label for="text">Treść</label>
              <textarea name="text" id="text" class="form-control" cols="30" rows="4" required ngModel #text="ngModel"></textarea>
              <p class="alert alert-danger" *ngIf="!text.valid && text.touched">Post musi zawierać treść!</p>
              <button [disabled]="!(category.valid && title.valid && text.valid)"class="btn btn-info float-right">Opublikuj</button>
            </form>
          </div>
      </div>
    </div>
  </div>