<div class="container">
  <h2 class="text-center">Zmień hasło</h2>
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="alert alert-danger" *ngIf="getErrorStatus() === 401">
        Niepoprawne stare hasło
      </div>
      <form #f="ngForm" (ngSubmit)="changePassword(f)">
        <div class="form-group">
          <label for="newPassword">Nowe hasło</label>
          <input type="password" name="newPassword" required ngModel #newPassword="ngModel" class="form-control"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" />
          <div class="alert alert-danger" *ngIf="newPassword.invalid && (newPassword.touched || newPassword.dirty)">
            <p>Nowe hasło powinno zawierać przynajmniej:</p>
            <ul>
              <li>8 znaków</li>
              <li>Jedną wielką literę</li>
              <li>Jedną małą literę</li>
              <li>Jedną cyfrę</li>

            </ul>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Powtórz hasło</label>
          <input type="password" name="confirmPassword" required #confirmPassword="ngModel" ngModel class="form-control">
          <div class="alert alert-danger" 
            *ngIf="confirmPassword.invalid && confirmPassword.touched || !(confirmPassword.viewModel === newPassword.viewModel)">
            Hasła się różnią!
          </div>
        </div>
        <button type="submit" [disabled]="confirmPassword.invalid ||  !(confirmPassword.viewModel === newPassword.viewModel)"
          class="btn btn-primary">Zmień hasło</button>
        <button type="button" class="btn btn-default" (click)="backClicked()">Powrót</button>
      </form>
    </div>
  </div>
</div>